<form method="post" action="{{ path('app_countries_delete', {'id': countries.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    
        <div id="deleteBtn">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ countries.id) }}">
            <button class="btn btn-default"> Supprimer </button>
        </div>
    
</form>
