{% extends 'base.html.twig' %}

{% block title %}Edit Countries{% endblock %}

{% block body %}

        <h1> <small> Mettre à jour un Pays </small> </h1>

        {{ include('countries/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
        
        <div class="container-fluid">
        
                <div  class="pull-right">
                        <a class="btn btn-info" href="{{ path('app_countries_index') }}" role="button"> Retour à la liste </a>  <br> <br>    
                </div>
                
                {{ include('countries/_delete_form.html.twig') }}
                      
        </div>
{% endblock %}