{% extends 'base.html.twig' %}


{% block title %}Nouveau Pays{% endblock %}

{% block body %}

        <h1>Enregistrer un nouveau Pays</h1>

        {{ include('countries/_form.html.twig') }}
        
        <div class="container-fluid">
                <div class="pull-right">
                        <a class="btn btn-info" href="{{ path('app_countries_index') }}" role="button"> Retour à la liste </a>  <br> <br>    
                </div>
        </div>

{% endblock %}
