{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-inline">

        <div class="pull-left">
            <a class="btn btn-default"  role="button">  {{ button_label|default('Enregistrer') }} </a>  <br> <br>    
        </div>
    </div>

{{ form_end(form) }}
