{% extends 'base.html.twig' %}

{% block title %} Nouvelle Ville {% endblock %}

{% block body %}
    <h1> Enregistrer une nouvelle ville </h1>

    {{ include('town/_form.html.twig') }}

    <div class="container-fluid">
        <div class="pull-right">
            <a class="btn btn-info" href="{{ path('app_town_index') }}" role="button"> Retour à la liste </a>  <br> <br>    
        </div>
    </div>
    
{% endblock %}
