{% extends 'base.html.twig' %}

{% block title %}Nouveau Quartier{% endblock %}

{% block body %}
    <h1>Enregistrer un Quartier </h1>

    {{ include('district/_form.html.twig') }}

    <div id="deleteBtn" class="pull-right">
        <a class="btn btn-info" href="{{ path('app_district_index') }}" role="button"> Retour à la liste </a>  <br> <br>    
    </div>
{% endblock %}
