{% extends 'base.html.twig' %}

{% block title %}Nouveau Arrondissement{% endblock %}

{% block body %}
    <h1>Enregistrer un Arrondissement </h1>

    {{ include('district/_form.html.twig') }}

    <div class="container-fluid">
        <div class="pull-right">
            <a class="btn btn-info" href="{{ path('app_district_index') }}" role="button"> Retour à la liste </a>  <br> <br>    
        </div>
    </div>
    
{% endblock %}
