{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        .example-wrapper { 
            margin: 1em auto; 
            margin-left : 20px ;
            font: 18px/1.5 sans-serif; 
            }
        .insertImage{
            background-color : red;
         
        }
    </style>               
         
{% endblock %}

{% block title %}  Home | World's Countries and Others  ! {% endblock %}

{% block body %}

    {# Insert nav-bar for navigation #}

    <div class="example-wrapper">

        {# A text daccroche #}
        <h1> 
            <small>
                Finding here , the localisation of countries, towns,
                districts, departments and others  
            </small>  
        </h1> 

    </div>

{% endblock %}