{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        .example-wrapper { 
            margin: 1em auto; 
            margin-left : 20px ;
            font: 18px/1.5 sans-serif; 
            text-align: justify;
            }
     
    </style>               
         
{% endblock %}

{% block title %}  Home | World's Countries and Others  ! {% endblock %}

{% block body %}

    <div class="example-wrapper">

        {# A text daccroche #}
        <h1 class="container-fluid"> 
            <small class="accroche" >
                 
                La localisation d'un milieu, pays ou ville est un processus menant 
                à obtenir les coordonnées de celui-ci.
                Ainsi donc, Visiter et trouver ici la localisation des pays du monde,
                département, arrondissement, villes, villages et quartier du beau pays qu'est 
                le Bénin.
               
            </small>  
        </h1> 

    </div>

{% endblock %}