{% extends 'base.html.twig' %}

{% block title %}Nouveau Department{% endblock %}

{% block body %}
    <h1>Enregistrer un nouveau Department</h1>

    {{ include('department/_form.html.twig') }}

    <div class="pull-right">
        <a class="btn btn-default" href="{{ path('app_department_index') }}" role="button"> Retour à la liste </a>  <br> <br>    
    </div>
{% endblock %}
