{% extends 'base.html.twig' %}

{% block title %}Nouveau Department{% endblock %}

{% block body %}
<div class="container">
    <h1>Enregistrer un nouveau Department</h1>

    {{ include('department/_form.html.twig') }}

    <div class="container-fluid">
        <div class="pull-right">
            <a class="btn btn-info" href="{{ path('app_department_index') }}" role="button"> Retour à la liste </a>  <br> <br>    
        </div>
    </div>
</div>  
{% endblock %}
