{{ form_start(form) }}

        <div class="container">
            {{ form_widget(form) }}
        </div>

        <div class="pull-left">
            <a class="btn btn-info"  role="button">  {{ button_label|default('Enregistrer') }} </a>  <br> <br>    
        </div>
    
{{ form_end(form) }}