{% extends 'base.html.twig' %}

{% block title %}Nouvelle Municipalité{% endblock %}

{% block body %}
    <h1>Enregistrer une nouvelle Municipalité</h1>

    {{ include('municipality/_form.html.twig') }}

    <div id="deleteBtn" class="pull-right">
        <a class="btn btn-info" href="{{ path('app_municipality_index') }}" role="button"> Retour à la liste </a>  <br> <br>    
    </div>

{% endblock %}
